*.dbmdl
*.refactorlog
*.dll
*.pdb
*.user
*.suo
*_ReSharper*
obj/
bin/
packages/
**/logs/*
/.vs/NSonar/v15/Server/sqlite3
/.vs/NSonar/v15/sqlite3
/src/NSonar.Web/Lucene/
/src/NSonar/Lucene
/src/NSonar/SelfCheck
/.vs/NSonar/DesignTimeBuild/.dtbcache
/src/NSonar/Events
/.vs/PhotoStockLegacyStart/v15/Server/sqlite3
/.vs/PhotoStockLegacy/v15/Server/sqlite3/
